<!DOCTYPE html>

<html>
    <style>
        .navbar {
            z-index: 1;
            color: gold
        }
        .center_div{
            margin: 0 auto;
            width:80% /* value of your choice which suits your alignment */
        }
        .sidenav {
            height: 100%;
            width: 200px;
            padding: 20px;
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            padding-top: 100px;
        }
    
        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }
        .sidenav a:hover {
            color: #f1f1f1;
        }
    
        .main {
            margin-left: 200px;
            margin-top: 50px;
             /* Same as the width of the sidenav */
             /* font-size: 28px; Increased text to enable scrolling */
            padding: 0px 10px;
        }
        
        .card-img-top{
            width:100%;
            height:auto;
        }
    </style>
    <head>
        <meta charset="utf-8" />
        <meta name ="viewport" content="width=device-width initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        

        <title>Create Bid Page</title>

    </head>

    <body>
        <nav class="navbar navbar-dark bg-warning">
            <a class="navbar-brand" href="#">
              <img src="/antbuildz.png" width="200" height="30" alt="">
            </a>
        </nav> 
      
      <head>
          <meta charset="UTF-8">
          <title>Login</title>
      </head>
      
      <div class="sidenav">       
        <a href="/userHome">Home</a>
        <a href="/create_Request">Create a Request</a>
        <a href="/result">Result</a>           
        <a href="/logout">Sign Out</a>   
    </div>
    <div class="main">

        <div class="container">
            <div class ="row">
            <div class ="col">

            </div>
            <div class ="col-8 bg-light">
                <h1 style="text-align: center">Create A Request</h1>
                <h4 style="text-align: center">Get your equipments from us</h4>
                <h4 style="text-align: center">The Smarter Way of Construction Rental</h4>    
                <form method = "POST" th:action = "@{/addrequest}" th:object="${request}" modelattribute = "requestDetails">
                    <p>Request Details</p>

                    <div class="form-group">
                        <label for="capacity_of_transport">Transport Capacity</label>
                        <input type="number" class="form-control" id = "capacity_of_transport" name = "capacity_of_transport" placeholder="Transport Capacity Required">

                        <label for="equipment_volume">Equipment Volume</label>
                        <input type="number" class="form-control" id = "equipment_volume" name = "equipment_volume" placeholder="Equipment Volume Required">

                        <label for="equipment_weight">Transport Capacity</label>
                        <input type="number" class="form-control" id = "equipment_weight" name = "equipment_weight" placeholder="Equipment Weight Required">
                    </div>
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <label for="destination_location">Destination</label>
                        <input type="text" class="form-control" id="destination_location" name = "destination_location" placeholder="Destination" required>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="origin_location">Origin</label>
                        <input type="text" class="form-control" id="origin_location" name = "origin_location" placeholder="Origin" required>
                      </div>

                        <div class="col-md-4 mb-3">
                            <label for="rental_start_date_time">Rental Start Date & Time</label>
                            <input type="datetime-local" class="form-control" id="rental_start_date_time" name = "rental_start_date_time" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="rental_end_date_time">Rental End Date & Time</label>
                            <input type="datetime-local" class="form-control" id="rental_end_date_time" name = "rental_start_date_time" required>
                        </div>


                      <div class="col-md-3 mb-3">
                        <label for="special_request">Special Request</label>
                        <input type="text" class="form-control" id="special_request" name = "special_request" required>
                      </div>
                    </div>
                    <input type = "hidden" id = "email" name = "email">
                    <button class="btn btn-primary" type="button" onclick = "create_request()">Create Request</button>

                  </form>
            </div>
            <div class ="col">

            </div>
            </div>
        </div>
        </div>
    </body>
    <script>
       document.getElementById("email").value = sessionStorage.getItem("email");
      

  function create_request(){
    var capacity_of_transport = document.getElementById("capacity_of_transport").value;
    var equipment_volume = document.getElementById("equipment_volume").value;
    var equipment_weight = document.getElementById("equipment_weight").value;
    var destination_location = document.getElementById("destination_location").value;
    var origin_location = document.getElementById("origin_location").value;
    var rental_start_date_time = document.getElementById("rental_start_date_time").value;
    var rental_end_date_time = document.getElementById("rental_end_date_time").value;
    var special_request = document.getElementById("special_request").value;
    var email = sessionStorage.getItem("email");


    var today = new Date();
    var datestr =today.toISOString().slice(0, 10);
    var timestr =today.toISOString().slice(11, 16);


    var obj = new Object();


    var datestr1 =rental_start_date_time.slice(0, 10);
    var timestr1 =rental_start_date_time.slice(11, 16);

    var datestr2 =rental_end_date_time.slice(0, 10);
    var timestr2 =rental_end_date_time.slice(11, 16);
    
    obj.request_open_date_time = datestr + " " + timestr;
    obj.email = email; 
    obj.capacity_of_transport = capacity_of_transport;
    obj.equipment_volume = equipment_volume;
    obj.equipment_weight = equipment_weight;
    obj.destination_location = destination_location;
    obj.origin_location = origin_location;
    obj.rental_start_date_time = datestr1+" "+timestr1;
    obj.special_request = special_request;
    obj.rental_end_date_time = datestr2+" "+timestr2;
    obj.type_of_transport = "LorryCrane";
    obj.quantity = "1";

    const url = `addrequest`;

    console.log(JSON.stringify(obj));

    axios.post(url, obj, {headers : {
        "Content-Type" : "application/json",
        'Allow-Control-Access-Origin' : "*"
    }}).then((response) => {
    console.log(response);
    alert("Request successfully created!");
    window.location.replace("/userHome");
    }, (error) => {
    console.log(error);
    });
  }
  
  </script>
</html>