<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name ="viewport" content="width=device-width initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 

    <title>Equipment management page</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-warning">
        <a class="navbar-brand" href="#">
          <img src="/antbuildz.png" width="200" height="30" alt="">
        </a>
      </nav>  

      <style>
        .navbar {
            z-index: 1;
            color: gold
        }
        .center_div{
            margin: 0 auto;
            width:80% /* value of your choice which suits your alignment */
        }
        .sidenav {
            height: 100%;
            width: 200px;
            padding: 20px;
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            padding-top: 100px;
        }
    
        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }
        .sidenav a:hover {
            color: #f1f1f1;
        }
    
        .main {
            margin-left: 200px;
            margin-top: 50px;
             /* Same as the width of the sidenav */
             /* font-size: 28px; Increased text to enable scrolling */
            padding: 0px 10px;
        }
        
        .card-img-top{
            width:100%;
            height:auto;
        }
    
        
          
    </style>
    
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    
    <body>
        <div class="sidenav">       
            <a href="/partnerHome">Home</a>
            <a href="/equipment">Equipment</a>
            <a href="/result">Result</a>
            <a href="/logout">Sign Out</a>  
        </div>
<div class="main">

    <div class="container justify-content-center">
        <h3 style="text-align: center">Equipments listed</h3>
        <div class ="row">      
        <div class ="col-10 mx-auto">
            <table class ="table bg-light">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Serial Number</th>
                      <th scope="col">Type</th>
                      <th scope="col">Capacity</th>
                      <th scope="col">Date Listed</th>
                      <th scope="col">Delete Listing</th>
                    </tr>
                    <tbody id = "equipment_body">
                    </tbody>
                </thead>
    
            </table>

        </div>
   
    </div>
    <h3 style="text-align: center">List new equipment</h3>
    <div class = "row">
        <div class ="col-10 mx-auto">
            
            <form>

                <div class="form-group">
                    <label for="serialNumber">Serial number</label>
                    <input type="number" class="form-control" id="serialNumber" placeholder="Enter serial number">
                </div>

                <div class="form-group">
                    <label for="equipmentType">Equipment type</label>
                    <select class="form-control" id="equipmentType">
                      <option>Lorry Crane</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input type="number" class="form-control" id="capacity" placeholder="Enter the capacity">
                </div>

                <div class="form-group">
                    <label for="info">Additional information:</label>
                    <textarea class="form-control" id="info" rows="3"></textarea>
                    <small id="emailHelp" class="form-text text-muted">List any additional information you might have regarding the equipment</small>
                </div>
                
                <button type="button" class="btn btn-primary" id="addTransportBtn" onclick="addTransport()">Submit</button>
            </form>
        
        
        </div>
    </div>
    </div>
   
</div>

   
</body>

<script>


    var d = new Date();
    console.log(typeof(d.toISOString()));
    var datestr =d.toISOString().slice(0, 10);
    var timestr =d.toISOString().slice(11, 16);

    loadTables();
    function loadTables(){
        console.log(d);
        console.log("running on load!")
        const URL = `http://localhost:8080/gettransport`;

        var obj = new Object();
        obj.partner_email = sessionStorage.getItem('email'); // rmb to get via sessions in the future
        obj.transport_type = "Lorry Crane";

        axios.post(URL, obj, {headers : {
            "Content-Type" : "application/json",
            'Allow-Control-Access-Origin' : "*"
        }})
          .then(function (response) {
            var LorryCrane = response.data["Lorry Crane"];
            //console.log(response.data["Lorry Crane"].length);
            //console.log(typeof(LorryCrane));
            for(var item in LorryCrane){
                //console.log(LorryCrane[item])

                var table = document.getElementById("equipment_body");
                var row = table.insertRow(0);
                var SerialNumber = row.insertCell(0);
                var Type = row.insertCell(1);
                var Capacity = row.insertCell(2);
                var DateListed = row.insertCell(3);
                var DeleteBtn = row.insertCell(4);
                SerialNumber.innerHTML = LorryCrane[item]['serialNumber'];
                Type.innerHTML = "Lorry Crane";
                Capacity.innerHTML=LorryCrane[item]['capacity'];
                DateListed.innerHTML=LorryCrane[item]['listingDate'];
                DeleteBtn.innerHTML=`<button type="button" class="btn btn-danger" id="addTransportBtn" onclick="deleteSerialNum(${LorryCrane[item]['serialNumber']})">Delete</button>`;
            }


          })
          .catch(function (error) {
            console.log("an Error Occured")
            console.log(error);
          });
    

    }


    function deleteSerialNum(serialNumber){
        //console.log(serialNumber);

        const URL = `http://localhost:8080/deletetransport/` +serialNumber;

        //console.log(URL);
        axios.get(URL)
        .then(function (response) {
            // handle success
            console.log("Success")
            console.log(response);
        })
        .catch(function (error) {
            // handle error
            console.log("Error")
            console.log(error);
        })
        .then(function () {
            console.log("Function ends!")
            location.reload();
            // always executed
        });



    }

    function addTransport(){
        var serialNumber = document.getElementById("serialNumber").value;
        var equipmentType =document.getElementById("equipmentType").value;
        var capacity =document.getElementById("capacity").value;

        var obj = new Object();
        obj.type = equipmentType;
        obj.serial_number =serialNumber;
        obj.partner_email =sessionStorage.getItem('email'); //will be via sessions in the future
        obj.capacity = capacity;
        obj.listing_date =datestr+" "+timestr;

        const URL = `http://localhost:8080/addtransport`;

        console.log(JSON.stringify(obj));
        console.log(obj);

        axios.post(URL,obj, {headers : {
            "Content-Type" : "application/json",
            'Allow-Control-Access-Origin' : "*"
        }})
        .then((response) => {
            console.log("Sucess!")
            console.log(response);
            location.reload();
            }, (error) => {
            console.log("an Error Occured")
            console.log(error);
            });
    }
</script>
</html>