<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<html lang="en" xmlns="http://www.w3.org/1999/html">

<style>
    .navbar {
        color: gold
    }
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<nav class="navbar navbar-dark bg-warning">
    <a class="navbar-brand" href="#">
      <img src="/antbuildz.png" width="200" height="30" alt="">
    </a>
    <form class="form-inline my-2 my-lg-0" method = "POST" th:action="@{/index}" th:object = "${user}" modelAttribute = "credentials">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username" name = "email" id = "login_email">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name = "password" id = login_password>
        <button class="btn btn-primary my-2 my-sm-0" type="button" onclick="process_login()" >Login</button>
    </form>
  </nav>
<body>
        <div class="row">
            <div class="col-sm-6">
                <img src="/construction.jpeg" class = "img-responsive" style="float:left"  width = "100%" alt="construction">
            </div>
            <div class="col-sm-6 justify-content-center">
                <h1 class="text-justify text-center" style="margin-top: 120px; padding:20px">Register for a USER account today!</h1>
                <div class="container-fluid " style="padding: 50px">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="CompanyName" aria-describedby="CompanyName" placeholder="Company Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="CompanyUEN" aria-describedby="Company UEN" placeholder="Company UEN" required>
                        </div>
                        <div class="form-group">
                        <input type="email" class="form-control" id="CompanyEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-row">
                            <div class="col">
                              <input type="Password" class="form-control" id = "password1" placeholder="Password" required> 
                            </div>
                            <div class="col">
                              <input type="Password" class="form-control" id = "password2" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <h6 id = "passwordWarning" style="text-align:center;color: red;" class = "mt-3"></h6>
    
                        <div class="container text-center p-2">
                        <button type="button" class="btn btn-primary btn-block" onclick = "sign_up()">Sign up</button>
                        </div>
                    </form>
                    <div class = "container mt-5">To sign up as a partner, <a href = "/signup">Click Here</a></div>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    function goToSignUp(){
        window.location.replace("/signup")
    }

    function sign_up(){
        var password = document.getElementById("password1").value;
        var password2 = document.getElementById("password2").value;

        if (password != password2){
            document.getElementById("passwordWarning").innerText = "Passwords do not match";
        } else {
            var uenNumber = document.getElementById('CompanyUEN').value;
            var companyName = document.getElementById('CompanyName').value;
            var email = document.getElementById('CompanyEmail').value;

            var obj = new Object();
            obj.uenNumber = uenNumber;
            obj.companyName = companyName;
            obj.email = email;
            obj.password = password;
            obj.verified = false;
            obj.dtype = "User";

            const url = `http://localhost:8080/signup`;

            console.log(JSON.stringify(obj));

            axios.post(url, obj, {headers : {
                "Content-Type" : "application/json",
                'Allow-Control-Access-Origin' : "*"
            }})

            .then((response) => {
            console.log(response);

            }, (error) => {
            console.log(error);
            });

            // const xhr = new XMLHttpRequest();
            // xhr.open('POST', 'https://bar.other/resources/post-here/');
            // xhr.setRequestHeader('X-PINGOTHER', 'pingpong');
            // xhr.setRequestHeader('Content-Type', 'application/xml');
            // xhr.onreadystatechange = handler;
            // xhr.send('<person><name>Arun</name></person>');

        }
        //window.location.replace("/manageHome");
    }

    function process_login(){
        var email = document.getElementById("login_email").value;
        var password = document.getElementById("login_password").value;

        const url = `http://localhost:8080/validateuser`
        var obj = new Object();
        obj.password = password;
        obj.email = email;
        sessionStorage.setItem("email", email);
        console.log(sessionStorage.getItem("email"));
        axios.post(url, obj)    
            .then((response) => {
                if (response){
                   
                   if (response["data"] == "user"){
                    window.location.replace("/userHome");
                   } else {
                    window.location.replace("/partnerHome");
                   }
                   

                }
            }, (error) => {
            console.log(error);
        });
    }

</script>
</html>