<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<style>
    .navbar {
        color: gold
    }
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<nav class="navbar navbar-dark bg-warning">
    <a class="navbar-brand" href="#">
      <img src="../images/antbuildz.png" width="200" height="30" alt="">
    </a>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
        <button class="btn btn-primary my-2 my-sm-0" type="submit" >Login</button>
    </form>
  </nav>
<body>
        <div class="row">
            <div class="col-sm-6">
                <img src="../images/construction.jpeg" class = "img-responsive" style="float:left"  width = "100%" alt="construction">
            </div>
            <div class="col-sm-6 justify-content-center">
                <h1 class="text-justify text-center" style="margin-top: 80px; padding:20px">Register for an account today!</h1>
                <div class="container-fluid " style="padding: 100px">
                    <form>
                        <div class="form-group m-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group m-3">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-primary ml-3" onclick="goToSignUp()">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    function goToSignUp(){
        window.location.replace("/signup")
    }
</script>
</html>