<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <meta name ="viewport" content="width=device-width initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        

        <title>Partner Home Page</title>

        

    </head>

    

    <body onload = "view_requests();view_won_bids()">
        <nav class="navbar navbar-dark bg-warning">
            <a class="navbar-brand" href="#">
              <img src="/antbuildz.png" width="200" height="30" alt="">
            </a>
          </nav>
          
          
          <style>
            .navbar {
                z-index: 1;
                color: gold
            }
            .center_div{
                margin: 0 auto;
                width:80% /* value of your choice which suits your alignment */
            }
            .sidenav {
                height: 100%;
                width: 200px;
                padding: 20px;
                position: fixed;
                z-index: 0;
                top: 0;
                left: 0;
                background-color: black;
                overflow-x: hidden;
                padding-top: 100px;
            }
        
            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            .sidenav a:hover {
                color: #f1f1f1;
            }
        
            .main {
                margin-left: 200px;
                margin-top: 50px;
                 /* Same as the width of the sidenav */
                 /* font-size: 28px; Increased text to enable scrolling */
                padding: 0px 10px;
            }
            
            .card-img-top{
                width:100%;
                height:auto;
            }

            #box{
                margin-left: 100px;
                margin-top: 50px;
                padding: 10px;
            }

        
            
              
        </style>
        
        <head>
            <meta charset="UTF-8">
            <title>Login</title>
        </head>
        
        <body>
        <div class="main">
            <div class="sidenav">       
                <a href="/partnerHome">Home</a>
                <a href="/equipment">Equipment</a>
                <a href="/logout">Sign Out</a>  
            </div>
            
        <div class="container">
            
            <div class ="row">
                
                <div class ="col-11" id = "box">
                    <h2>Bids won</h2>
                    <div id = "if_won">
         
                    <div class="card-columns" id="won-bids">
                      </div>
                    </div>
                </div>
            </div>

            <div class ="row">

                <div class ="col-11" id = "box">
                    <h2>Open requests</h2>
                    <div class="card-columns" id="new-bids">
    
        
    
                      </div>
                </div>
            </div>
        </div>
    </div>
    
    </body>

    <script>
      function view_requests(){   
        const url = "http://localhost:8080/allopenrequests"
        axios.get(url)
            .then(function (response) {
              requests = response.data


              for ( i = 1; i <= Object.keys(requests).length; i ++){

                var transport_needed = requests[i]["typeOfTransport"]
                
                var special_string = ``

                var request_id = requests[i]["request_id"];
                console.log(request_id)

                var start = requests[i]["rentalStartDateTime"]
                var start_date = new Date(start)
                var start_year = start_date.getFullYear()
                var start_month = start_date.getMonth()
                var start_day = start_date.getDate()
                var start_time = start_date.toLocaleTimeString()
                
                var end = requests[i]["rentalEndDateTime"]
                var end_date = new Date(end);
                var end_year = end_date.getFullYear()
                var end_month = end_date.getMonth()
                var end_day = end_date.getDate()
                var end_time = end_date.toLocaleTimeString()

                var special_request = requests[i]["specialRequest"]
                var start_location = requests[i]["originLocation"]
                var end_location = requests[i]["destinationLocation"]
                var equipment_volume = requests[i]["equipmentVolume"]
                var equipment_weight = requests[i]["equipmentWeight"]

                if (special_request != null){
                    special_string += `<p class="card-text">Special request: ${special_request}</p>`
                }


                var str = ` <div class="card text-center">
                                <div class="card-header">${transport_needed} needed</div>
                                <div class="card-body">
                                <h5 class="card-title">From ${start_location} to ${end_location}</h5>
                                <p class="card-text">Rental of equipment needed between ${start_day}/${start_month}/${start_year} at ${start_time} to ${end_day}/${end_month}/${end_year} at ${end_time}</p>  
                                <p class="card-text">Equipment volume: ${equipment_volume}</p>
                                <p class="card-text">Equipment weight: ${equipment_weight}</p>  
                                ${special_string}
                                
                                <button class="btn btn-primary" onclick = "process_bid_request(${request_id})">Place Bid</button>  
                                
                            </div>`

                document.getElementById("new-bids").innerHTML += str;            

              }
            })
            .catch(function (error) {
              console.log(error);
            });
        //   
        }

      function process_bid_request(request_id){
                
            sessionStorage.setItem("request_id", request_id);
            window.location.replace("placeBid");

        };
    

      function view_won_bids(){
            email = sessionStorage.getItem("email");
            var obj = new Object();
            obj.partner_email = email;
            const url = `http://localhost:8080/viewmyacceptedbids`

            axios.post(url, obj)

            .then((response) => {

                
                console.log(response.data)

                    for (each in response.data){
                        console.log(response.data[each])
                        request_id = response.data[each]["request"]

                        won_bid_details(request_id);



                    }  


            }, (error) => {
                
                console.log(error);
            });

      }
      
      function won_bid_details(request_id){
         const url = 'http://localhost:8080/request/' + request_id;

         axios.get(url)
                .then(function (response) {
                    var requests = response.data
                    console.log(special_request);

                    var special_string = ``

                    var transport_needed = requests["typeOfTransport"]
                    var special_request = requests["specialRequest"]
                    var start_location = requests["originLocation"]
                    var end_location = requests["destinationLocation"]
                    var equipment_volume = requests["equipmentVolume"]
                    var equipment_weight = requests["equipmentWeight"]

                    var start = requests["rentalStartDateTime"]
                    var start_date = new Date(start)
                    var start_year = start_date.getFullYear()
                    var start_month = start_date.getMonth()
                    var start_day = start_date.getDate()
                    var start_time = start_date.toLocaleTimeString()
                    
                    var end = requests["rentalEndDateTime"]
                    var end_date = new Date(end);
                    var end_year = end_date.getFullYear()
                    var end_month = end_date.getMonth()
                    var end_day = end_date.getDate()
                    var end_time = end_date.toLocaleTimeString()

                    if (special_request != null){
                    special_string += `<p class="card-text">Special request: ${special_request}</p>`
                }

                    var str = ` <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">From ${start_location} to ${end_location}</h5>
                                <p class="card-text">Rental of equipment needed between ${start_day}/${start_month}/${start_year} at ${start_time} to ${end_day}/${end_month}/${end_year} at ${end_time}</p>  
                                <p class="card-text">Equipment volume: ${equipment_volume}</p>
                                <p class="card-text">Equipment weight: ${equipment_weight}</p>  
                                ${special_string}
                                
                                
                            </div>`

                document.getElementById("won-bids").innerHTML += str;           



                    
                })
                .catch(function (error) {
                console.log(error);
                });
      }

      
    </script>
</html>