<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <meta name ="viewport" content="width=device-width initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        

        <title>Partner Home Page</title>

        

    </head>

    

    <body onload = "view_requests()">
        <nav class="navbar navbar-dark bg-warning">
            <a class="navbar-brand" href="#">
              <img src="../static/antbuildz.png" width="200" height="30" alt="">
            </a>
          </nav>
          
          
          <style>
            .navbar {
                z-index: 1;
                color: gold
            }
            .center_div{
                margin: 0 auto;
                width:80% /* value of your choice which suits your alignment */
            }
            .sidenav {
                height: 100%;
                width: 200px;
                padding: 20px;
                position: fixed;
                z-index: 0;
                top: 0;
                left: 0;
                background-color: black;
                overflow-x: hidden;
                padding-top: 100px;
            }
        
            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            .sidenav a:hover {
                color: #f1f1f1;
            }
        
            .main {
                margin-left: 200px;
                margin-top: 50px;
                 /* Same as the width of the sidenav */
                 /* font-size: 28px; Increased text to enable scrolling */
                padding: 0px 10px;
            }
            
            .card-img-top{
                width:100%;
                height:auto;
            }

            #new-bids-box{
                margin-left: 100px;
                margin-top: 50px;
                padding: 10px;
            }

        
            
              
        </style>
        
        <head>
            <meta charset="UTF-8">
            <title>Login</title>
        </head>
        
        <body>
            <div class="main">
            <div class="sidenav">       
                <a href="#about">Home</a>
                <a href="#services">Bids</a>
                <a href="#clients">Result</a>
                <a href="#">Place a Bid</a>
                <a href="#contact">Sign Out</a>   
            </div>
            
        <div class="container">
            <div class ="row">
            <div class ="col">

            </div>

            <div class ="col-11" id="bids-placed">
                <h2>Bids Placed</h2>
                <div class="card-deck">

                    <div class="card text-center" id = "first">
                    <div class="card-header">Time Left</div>
                      <img class="card-img-top" src="../static/1.jpg" alt="Card image cap" style="max-height: 18rem;">
                      <div class="card-body text-center">
                        <h5 class="card-title1">Company Name 1</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>  
                    </div>
                        <div class="card-footer">
                            <button href="#" class="btn btn-primary" onclick="process_selection()" id = "1" value = "Company1">Change Bid</button>  
                        </div>  
                    </div>

                    <div class="card text-center">
                        <div class="card-header">Time Left</div>
                      <img class="card-img-top" src="../static/2.jpg" alt="Card image cap" style="max-height: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Company Name</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>         
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-primary">Change Bid</a>  
                        </div>  
                    </div>

                    <div class="card text-center">
                    <div class="card-header">Time Left</div>
                      <img class="card-img-top" src="../static/3.jpg" alt="Card image cap" style="max-height: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Company Name</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>    
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Change Bid</a>  
                    </div>  
                    </div>

                  </div>
            
            </div>

            <div class ="row">

                <div class ="col-11" id = "new-bids-box">
                    <h2>Opened Bids</h2>
                    <div class="card-columns" id="new-bids">
    
        
    
                      </div>
                </div>
                </div>
        </div>
    </div>
    
    </body>

    <script>
    sessionStorage.setItem("email", "[[${email}]]");
    </script>
    <script>
      function view_requests(){   
        const url = "http://localhost:8080/allopenrequests"
        axios.get(url)
            .then(function (response) {
              requests = response.data


              for ( i = 1; i <= Object.keys(requests).length; i ++){

                var transport_needed = requests[i]["typeOfTransport"]

                var special_string = ``

                var request_id = i

                var start = requests[i]["rentalStartDateTime"]
                var start_date = new Date(start)
                var start_year = start_date.getFullYear()
                var start_month = start_date.getMonth()
                var start_day = start_date.getDate()
                var start_time = start_date.toLocaleTimeString()
                
                var end = requests[i]["rentalEndDateTime"]
                var end_date = new Date(end);
                var end_year = end_date.getFullYear()
                var end_month = end_date.getMonth()
                var end_day = end_date.getDate()
                var end_time = end_date.toLocaleTimeString()

                var special_request = requests[i]["specialRequest"]
                var start_location = requests[i]["originLocation"]
                var end_location = requests[i]["destinationLocation"]
                var equipment_volume = requests[i]["equipmentVolume"]
                var equipment_weight = requests[i]["equipmentWeight"]

                if (special_request != null){
                    special_string += `<p class="card-text">Special request: ${special_request}</p>`
                }

                console.log(transport_needed, start_time)

                var str = ` <div class="card text-center">
                                <div class="card-header">${transport_needed} needed</div>
                                <img class="card-img-top" src="../static/4.jpg" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">From ${start_location} to ${end_location}</h5>
                                <p class="card-text">Rental of equipment needed between ${start_day}/${start_month}/${start_year} at ${start_time} to ${end_day}/${end_month}/${end_year} at ${end_time}</p>  
                                <p class="card-text">Equipment volume: ${equipment_volume}</p>
                                <p class="card-text">Equipment weight: ${equipment_weight}</p>  
                                ${special_string}
                                
                                <button class="btn btn-primary" onclick = "process_bid_request(${i})">Place Bid</button>  
                                
                            </div>`

                document.getElementById("new-bids").innerHTML += str;            

              }
            })
            .catch(function (error) {
              console.log(error);
            });
        //   
        }

        function process_bid_request(request_id, start_location, end_location){
                
                sessionStorage.setItem("request_id", request_id);
                // sessionStorage.setItem("start_location", start_location);
                // sessionStorage.setItem("end_location", end_location);
                // sessionStorage.setItem("start_time", start_time);
                // sessionStorage.setItem("end_time", end_time);
                window.location.replace("./placeBid.html");

            };
    </script>
</html>