<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name ="viewport" content="width=device-width initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Equipment management page</title>
</head>
<body onload = display()>
    <nav class="navbar navbar-dark bg-warning">
        <a class="navbar-brand" href="#">
        <img src="../static/antbuildz.png" width="200" height="30" alt="">
        </a>
    </nav>  

    <div class = "container">
        <h2 id = "company"></h2>
        <form>
            <div class="form-group">
                <label for="serialNumber">Serial number</label>
                <input type="number" class="form-control" id="serialNumber" placeholder="Enter serial number">
            </div>

            <div class="form-group">
                <label for="equipmentType">Equipment type</label>
                <select class="form-control" id="equipmentType">
                  <option>Excavator</option>
                  <option>Reach Truck</option>
                  <option>Forklift</option>
                  <option>Stacker</option>
                </select>
              </div>

            <div class="form-group">
                <label for="info">Additional information:</label>
                <textarea class="form-control" id="info" rows="3"></textarea>
                <small id="emailHelp" class="form-text text-muted">List any additional information you might have regarding the equipment</small>
            </div>

            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>




</body>

<script>
    function display(){
        
        // axios.get("url")
        //     .then(function (response) {
        //     // handle success
        //         console.log(response);
        //         document.getElementById("company").innerText = response[0];
        //     })
        //     .catch(function (error) {
        //     // handle error
        //     console.log(error);

        //     })
        //     .then(function () {
        //     console.log("executed")
        //     // always executed
        //     });

        document.getElementById("company").innerText = "Submitting bid for " +sessionStorage.getItem("name");
  }
        
    

    
</script>
</html>