<html>
    <head>
        <meta charset="utf-8" />
        <meta name ="viewport" content="width=device-width initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        

        <title>Partner Home Page</title>
        <style>
            .navbar {
                z-index: 1;
                color: gold
            }
            .center_div{
                margin: 0 auto;
                width:80% /* value of your choice which suits your alignment */
            }
            .sidenav {
                height: 100%;
                width: 200px;
                padding: 20px;
                position: fixed;
                z-index: 0;
                top: 0;
                left: 0;
                background-color: black;
                overflow-x: hidden;
                padding-top: 100px;
            }
        
            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            .sidenav a:hover {
                color: #f1f1f1;
            }
        
            .main {
                margin-left: 200px;
                margin-top: 50px;
                 /* Same as the width of the sidenav */
                 /* font-size: 28px; Increased text to enable scrolling */
                padding: 0px 10px;
            }
            
            .card-img-top{
                width:100%;
                height:auto;
            }
        </style>
        

    </head>

    

    <body>
        <div class="sidenav">       
            <a href="#about">Home</a>
            <a href="#services">Modify Bids</a>
            <a href="#clients">Result</a>
            <a href="/create_request">Create a Request</a>
            <a href="#contact">Sign Out</a>   
        </div>
        <nav class="navbar navbar-dark bg-warning">
            <a class="navbar-brand" href="#">
              <img src="../static/antbuildz.png" width="200" height="30" alt="">
            </a>
          </nav>
          <div class="main">
        <div class="container">
            <div class ="row">
            <div class ="col">

            </div>

            <div class ="col-11 bg-light" id="bids-opened">
                <h2>Bids Opened</h2>
                <div class="card-deck" >

                    <div class="card text-center" th:each = "request : ${requests}">
                    <div class="card-header" >Time Left</div>
                      <img class="card-img-top" src="../static/1.jpg" alt="Card image cap" style="max-height: 18rem;">
                      <div class="card-body text-center">
                        <h5 class="card-title1" th:text = "${request.getOriginLocation()}"></h5>
                        <p class="card-text" th:text = "${request.getDestinationLocation()}"></p>
                    </div>
                        <div class="card-footer">
                            <button href="#" class="btn btn-primary" onclick="process_selection()" id = "1" value = "Company1">Modifiy Details</button>  
                        </div>  
                    </div>

                    <div class="card text-center">
                        <div class="card-header">Time Left</div>
                      <img class="card-img-top" src="../static/2.jpg" alt="Card image cap" style="max-height: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Company Name</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>         
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-primary">Modifiy Details</a>  
                        </div>  
                    </div>

                    <div class="card text-center">
                    <div class="card-header">Time Left</div>
                      <img class="card-img-top" src="../static/3.jpg" alt="Card image cap" style="max-height: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Company Name</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>    
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Modifiy Details</a>  
                    </div>  
                    </div>

                  </div>
            </div>
            </div>
            <div class ="row">
                <div class ="col">
    
                </div>
    
                <div class ="col-11 bg-light" id="bids-placed">
                    <h2>Past Bids</h2>
                    <div class="card-deck">
    
                        <div class="card text-center" id = "first">
                        <div class="card-header">Time Left</div>
                          <img class="card-img-top" src="../static/1.jpg" alt="Card image cap" style="max-height: 18rem;">
                          <div class="card-body text-center">
                            <h5 class="card-title1">Company Name 1</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>  
                        </div>
                            <div class="card-footer">
                                <button href="#" class="btn btn-primary" onclick="process_selection()" id = "1" value = "Company1">Modifiy Details</button>  
                            </div>  
                        </div>
    
                        <div class="card text-center">
                            <div class="card-header">Time Left</div>
                          <img class="card-img-top" src="../static/2.jpg" alt="Card image cap" style="max-height: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Company Name</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>         
                          </div>
                          <div class="card-footer">
                            <a href="#" class="btn btn-primary">Modifiy Details</a>  
                            </div>  
                        </div>
                        <div class="card text-center">
                        <div class="card-header">Time Left</div>
                          <img class="card-img-top" src="../static/3.jpg" alt="Card image cap" style="max-height: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Company Name</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>    
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Modifiy Details</a>  
                        </div>  
                        </div>
    
                      </div>
                </div>
                </div>

        </div>
          </div>
    </body>

<script>
    sessionStorage.setItem("email", "[[${email}]]");
</script>
</html>